<div fxLayout="row" fxFlex=100 fxLayoutAlign="center center" style="margin-top: 65px;margin-left: 450px">
  <mat-card style=" width: 420px;height: 450px;" fxLayoutAlign="center center">
    <div fxLayout="column" style=" margin-top: 5%;">
      <mat-card-title style="margin-left: 35%;">
        <span class="blue">F</span>
        <span class="red">u</span>
        <span class="gold">n</span>
        <span class="blue">d</span>
        <span class="green">o</span>
        <span class="red">o</span>
      </mat-card-title>
      <br />
      <mat-card-content style="font-size: 22px;margin-left: 25%;">Forgot Password</mat-card-content>
      <mat-card-content style="font-size: 17px;margin-left: 20%;">Enter your recovery email</mat-card-content>
    </div>
    <br />
    <form [formGroup]="ForgotPassword">
      <div>
        <mat-form-field appearance="outline" fxFlext=50 style="width: 90%;">
          <mat-label>Email</mat-label>
          <input required matInput placeholder="Email" formControlName="email">
          <mat-icon matSuffix>email</mat-icon>
        </mat-form-field>
      </div>
      <br>
    </form>
    <div>
      <button color="primary" routerLink='' mat-raised-button>Back to Sign in </button>
      <button color="primary" (click)="forgotPasswordForm()" mat-raised-button style="margin-left: 9.7rem;">Next</button>
    </div>
  </mat-card>
</div>