<div fxLayout="row" fxFlex=100 fxLayoutAlign="center center" style="margin-top: 150px;margin-left: 300px">
  <mat-card style=" width: 500px;height: 220px;" fxLayoutAlign="center center">
    <div class="mat-headline" style="margin-left: 20%; margin-top: 5%;color:red;"> Forgot Password Page</div>
    <form [formGroup]="ForgotPassword">
      <div>
        <mat-form-field appearance="outline" fxFlext=50 style="width: 60%;">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Email" formControlName="email">
          <mat-icon matSuffix>email</mat-icon>
        </mat-form-field>
      </div>
    </form>
    <div>
      <button color="primary" (click)="forgotPasswordForm()" mat-raised-button>Submit</button>
    </div>
  </mat-card>
</div>