<!-- <h1 style="margin-left: 40%; margin-top: 7%"> Login Page</h1> -->
<div class = "mat-headline" style="margin-left: 40%; margin-top: 7%"> Login Page</div>

<div>
<mat-form-field appearance="outline" fxFlext=50 style="width: 35%;">
    <!-- <mat-label>Outline form field</mat-label> -->
    <mat-label>Email</mat-label>
    <input matInput placeholder="Email">
    <mat-icon matSuffix>email</mat-icon>
    <!-- <mat-hint>Hint</mat-hint> -->
  </mat-form-field>
  <br/>
</div>
<div>
<mat-form-field appearance="outline" fxFlext=50 style="width: 35%;">
  <mat-label>Password</mat-label>
    <input matInput placeholder="password">
    <mat-icon matSuffix>password</mat-icon>
    </mat-form-field>
  </div>
  
  <button color="primary" mat-raised-button>Login</button>
  <!-- <button mat-icon-button class="large"><mat-icon>Login</mat-icon></button> -->
