<div fxLayout="row" fxFlex=100 fxLayoutAlign="center center" style="margin-top: 120px;margin-left: 400px">
  <mat-card style=" width: 600px;height: 350px;" fxLayoutAlign="center center">
    <!-- <h1 style="margin-left: 40%; margin-top: 7%"> Login Page</h1> -->
    <div class="mat-headline" style="margin-left: 20%; margin-top: 5%;color:seagreen;"> Login Page</div>
    <!-- <math-card-content> -->
    <form [formGroup]="login">
      <div>
        <mat-form-field appearance="outline" fxFlext=50 style="width: 57%;">
          <!-- <mat-label>Outline form field</mat-label> -->
          <mat-label>Email</mat-label>
          <input matInput placeholder="Email" formControlName="email" >
          <mat-icon matSuffix>email</mat-icon>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline" fxFlext=50 style="width: 57%;">
          <mat-label>Password</mat-label>
          <input matInput placeholder="password" formControlName="password">
          <mat-icon matSuffix>password</mat-icon>
        </mat-form-field>
      </div>
    </form>
    <div>
      <button color="primary" (click)="loginForm()" mat-raised-button>Login</button>
      <button color="primary" routerLink='register' mat-raised-button>register</button>
    </div>
  </mat-card>
</div>