<div fxLayout="row" fxFlex=100 fxLayoutAlign="center center" style="margin-top: 65px;margin-left: 450px;">
  <mat-card style=" width: 450px;height: 450px;" fxLayoutAlign="center center">
    <div fxLayout="column" style=" margin-top: 5%;">
      <mat-card-title style="margin-left: 25%;">
        <span class="blue">F</span>
        <span class="red">u</span>
        <span class="gold">n</span>
        <span class="blue">d</span>
        <span class="green">o</span>
        <span class="red">o</span>
      </mat-card-title>
      <br />
      <mat-card-content style="font-size: 22px;margin-left: 25%;">Sign in</mat-card-content>
      <mat-card-content style="font-size: 17px;margin-left: 10%;">Use your Fundoo Account</mat-card-content>
    </div>
    <br />
    <form [formGroup]="login">
      <div>
        <!-- <mat-label>Outline form field</mat-label> -->
        <mat-form-field appearance="outline" fxFlext=50 style="width: 80%;">
          <mat-label>Email</mat-label>
          <input required matInput placeholder="Email" formControlName="email">
          <mat-icon matSuffix>email</mat-icon>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline" fxFlext=50 style="width: 80%;">
          <mat-label>Password</mat-label>
          <input required matInput placeholder="password" formControlName="password">
          <mat-icon matSuffix>password</mat-icon>
        </mat-form-field>
      </div>
    </form>
    <div>
      <button color="primary" routerLink='forgotpassword' mat-raised-button>Forgot password?</button>
      <br />
      <button color="primary" routerLink='register' mat-raised-button>Create account</button>
      <button color="primary" style="margin-left: 6rem;" (click)="loginForm()" mat-raised-button>Login</button>
    </div>
  </mat-card>
</div>