<div class = "mat-headline" style="margin-left: 40%; margin-top: 7%"> Registration Page</div>

<div style="margin-left: 40%; margin-top: 0%">
    <mat-form-field appearance="outline" fxFlext=50 style="width: 35%;margin-right: 1rem;">
        <mat-label>First Name</mat-label>
        <input matInput placeholder="First name">
        <!-- <mat-icon matSuffix>First Name</mat-icon> -->
      </mat-form-field>
<!-- </div>
<div style="margin-left: 40%; margin-top: 0%"> -->
    <mat-form-field appearance="outline" fxFlext=50 style="width: 35%;">
        <mat-label>Last Name</mat-label>
        <input matInput placeholder="Last name">
        <!-- <mat-icon matSuffix>Last Name</mat-icon> -->
    </mat-form-field>
</div>
<div style="margin-left: 40%; margin-top: 0%">
    <mat-form-field appearance="outline" fxFlext=50 style="width: 72%;">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email">
        <mat-icon matSuffix>email</mat-icon>
        <mat-hint>You can use letter,numbers & periods</mat-hint>
  </mat-form-field>
</div>
<div style="margin-left: 40%; margin-top: 0%">
    <mat-form-field appearance="outline" fxFlext=50 style="width: 35%;margin-right: 1rem;">
        <mat-label>Password</mat-label>
        <input matInput placeholder="Password">
        <!-- <mat-icon matSuffix>Password</mat-icon> -->
        <mat-hint>Use 8 or more characters with mix of letters,numbers&symbols</mat-hint>
    </mat-form-field>
<!-- </div> -->
<!-- <div style="margin-left: 40%; margin-top: 0%"> -->
    <mat-form-field appearance="outline" fxFlext=50 style="width: 35%;">
        <mat-label>Confirm</mat-label>
        <input matInput placeholder="Confirm">
    </mat-form-field>
</div>
<br/>
<div> 
  <button color="primary" mat-raised-button>Registration</button>
  <!-- <button mat-icon-button class="large"><mat-icon>Login</mat-icon></button> -->
</div>
<br>
<br>
