// div{
//     margin-left: 20%;
//     margin-right: 1rem;
//     margin-top: 0%;
// }
// mat-form-field {
//     margin-left: 40%; margin-top: 0%;
// }
button{
    margin-left: 11rem;
    margin-top: 0rem;
}

div{
    margin-left: 10%;
    margin-right: 1rem;
    margin-top: 0%;
}
.blue{
    color: rgb(55, 0, 255);
};
.red{
    color: red;
};
.gold{
    color:rgb(255, 187, 0);
};
.green{
    color:rgb(14, 85, 31);
};