<div class = "mat-headline" style="margin-left: 40%; margin-top: 7%;color: blue;"> Reset Password Page</div>
<div>
  <mat-form-field appearance="outline" fxFlext=50 style="width: 30%;">
    <mat-label>New Password</mat-label>
    <input matInput placeholder="New Password">
    <mat-hint>Use 8 or more characters with mix of letters,numbers&symbols</mat-hint>
  </mat-form-field>
</div>  
<div>
    <mat-form-field appearance="outline" fxFlext=50 style="width: 30%;">
      <mat-label>Re-enter new Password</mat-label>
      <input matInput placeholder="Re-enter new Password">
      <mat-hint>Use 8 or more characters with mix of letters,numbers&symbols</mat-hint>
    </mat-form-field>
</div> 
<button color="primary" mat-raised-button>Change Password</button>
