<div fxLayout="row" fxFlex=100 fxLayoutAlign="center center" style="margin-top: 65px;margin-left: 450px">
  <mat-card style=" width: 420px;height: 450px;" fxLayoutAlign="center center">
    <div fxLayout="column" style=" margin-top: 5%;">
      <mat-card-title style="margin-left: 32%;">
        <span class="blue">F</span>
        <span class="red">u</span>
        <span class="gold">n</span>
        <span class="blue">d</span>
        <span class="green">o</span>
        <span class="red">o</span>
      </mat-card-title>
      <br />
      <mat-card-content style="font-size: 22px;margin-left: 22%;">Reset Password</mat-card-content>
    </div>
    <br />
    <form>
      <div>
        <mat-form-field appearance="outline" fxFlext=50 style="width: 90%;">
          <mat-label>New Password</mat-label>
          <input required matInput placeholder="New Password">
          <mat-hint>At least 8 characters</mat-hint>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline" fxFlext=50 style="width: 90%;margin-top: 2%;">
          <mat-label>Re-enter new Password</mat-label>
          <input required matInput placeholder="Re-enter new Password">
        </mat-form-field>
      </div>
    </form>
    <br />
    <div>
      <button color="primary" (click)="resetPasswordForm()" mat-raised-button>Change Password</button>
    </div>
  </mat-card>
</div>